<div class="container">
  <div class="row">
    <h1 class="text-center my-5">CREATE NEW USERS</h1>
    <div class="col-md-12 py-2">
      <div class="row p-2 d-flex" style="align-items: center">
        <label class="col-md-2">Họ và tên: </label>
        <input
          class="col-md-10 p-2"
          type="text"
          name="nameUser"
          id="nameUser"
          placeholder=""
        />
    </div>

      <div class="row p-2 d-flex" style="align-items: center">
        <label class="col-md-2">Tên người dùng: </label>
        <input
          class="col-md-10 p-2"
          type="text"
          name="username"
          id="username"
          placeholder=""
        />

      </div>
      <div class="row p-2 d-flex" style="align-items: center">
        <label class="col-md-2">Mật khẩu: </label>
        <input
          class="col-md-10 p-2"
          type="password"
          name="password"
          id="password"
          placeholder=""
        />
      </div>

      <div class="row p-2 d-flex" style="align-items: center">
        <label class="col-md-2">Email: </label>
        <input
          class="col-md-10 p-2"
          type="text"
          name="email"
          id="email"
          placeholder=""
        />
      </div>

      <div class="row p-2 d-flex" style="align-items: center">
        <label class="col-md-2">Số điện thoại: </label>
        <input
          class="col-md-10 p-2"
          type="text"
          name="phoneNumber"
          id="phoneNumber"
          placeholder=""
        />
      </div>

      <div class="row p-2 d-flex" style="align-items: center">
        <label class="col-md-2">Địa chỉ: </label>
        <input
          class="col-md-10 p-2"
          type="text"
          name="address"
          id="address"
          placeholder=""
        />
      </div>
      <div class="row p-2">
        <div class="col-md-2"></div>
        <button class="btn btn-secondary col-md-5 p-2" onclick="clearInput()" >Xóa</button>
        <button class="btn btn-primary col-md-5 p-2" onclick="createUser()" >Tạo</button>
      </div>
  </div>
</div>
</div>


<script>
    const nameUser = document.getElementById('nameUser');
    const username = document.getElementById('username');
    const password = document.getElementById('password');
    const email = document.getElementById('email');
    const phoneNumber = document.getElementById('phoneNumber');
    const address = document.getElementById('address');

    function clearInput () {
        nameUser.value = '';
        username.value = '';
        password.value = '';
        email.value = '';
        phoneNumber.value = '';
        address.value = '';
        firstName.focus();    
    }

     async function createUser () {
        const data = {
            idUser: "U" + Math.floor(Math.random() * 100000),
            nameUser: nameUser.value,
            username: username.value,
            password: password.value,
            email: email.value,
            address: address.value,
            phoneNumber: phoneNumber.value,
        }

        const response = await fetch('/admin/users', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({...data}),
        }).then(res => res.json())
        .then(res => res);
            console.log (response.success);

        if (response.success === 1) {
            alert('Create user successfully');
            clearInput();
        } else {
            alert('Create user failed');
        }
    }
</script>
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>

